Story3/Menu/etc/menu.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="menu">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entrantes" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:byte" name="precio"/>
              <xs:element type="xs:string" name="ingredientes"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="categoria" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="principales" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:byte" name="precio"/>
              <xs:element type="xs:string" name="ingredientes"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="categoria" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="postres" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:byte" name="precio"/>
              <xs:element type="xs:string" name="ingredientes"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="categoria" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>